.center{
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.bottom{
  position: fixed;
  top: 30%;
}

.selected{
  position: fixed;
  top: 40%;
  display: flex;
  justify-content: center;
}

.position{
  display: flex;
  justify-content: center;
}
